<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.duyi.rotator"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon">
        <activity android:name=".StartActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".AboutActivity"
				  android:label="@string/About"
				  android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".RotatorActivity"></activity>
		<activity android:name=".AddPieActivity"
				  android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".ModifyPieActivity"
				  android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".ResultActivity"
				  android:theme="@android:style/Theme.Dialog">
		</activity>
    </application>
</manifest>